<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

  <uses-feature
      android:glEsVersion="0x00030000"
      android:required="true"/>
  <uses-feature
      android:name="android.hardware.wifi"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.location"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.location.network"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false"/>
  <uses-permission
      android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="22" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES"/>
  <uses-permission android:name="androidx.car.app.ACCESS_SURFACE"/>

  <queries>
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <supports-screens
      android:largeScreens="true"
      android:xlargeScreens="true"/>

  <application
      android:name=".MwmApplication"
      android:allowBackup="true"
      android:backupInForeground="true"
      android:fullBackupContent="@xml/backup_content"
      android:dataExtractionRules="@xml/backup_content_v31"
      android:enableOnBackInvokedCallback="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:localeConfig="@xml/locales_config"
      android:theme="@style/MwmTheme"
      android:resizeableActivity="true"
      android:supportsRtl="true"
      android:networkSecurityConfig="@xml/network_security_config"
      android:manageSpaceActivity="${applicationId}.ManageSpaceActivity"
      tools:targetApi="33">

    <activity
      android:name="app.organicmaps.SplashActivity"
      android:theme="@style/MwmTheme.Splash"
      android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
      android:screenOrientation="fullUser"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="geo"/>
        <data android:scheme="ge0"/>
        <data android:scheme="om"/>
      </intent-filter>
    </activity>

    <activity
        android:name="app.organicmaps.MwmActivity"
        android:theme="@style/MwmTheme.MainActivity"
        android:launchMode="singleTask"
        android:configChanges="uiMode"
        android:screenOrientation="fullUser"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

    <activity
        android:name="app.organicmaps.DownloadResourcesLegacyActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.downloader.DownloaderActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.search.SearchActivity"
        android:parentActivityName="app.organicmaps.MwmActivity"
        android:launchMode="singleTop"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser"
        android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="app.organicmaps.MwmActivity" />
    </activity>

    <activity
        android:name="app.organicmaps.settings.SettingsActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.bookmarks.BookmarkCategoriesActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.bookmarks.BookmarkListActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.bookmarks.BookmarkCategorySettingsActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.editor.EditorActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.editor.OsmLoginActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.editor.ReportActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.editor.FeatureCategoryActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.editor.ProfileActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.help.HelpActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.widget.placepage.WikiArticleActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.settings.DrivingOptionsActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.MapPlaceholderActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <activity
        android:name="app.organicmaps.car.screens.permissions.RequestPermissionsActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:screenOrientation="fullUser" />

    <service
        android:name=".routing.NavigationService"
        android:foregroundServiceType="location|mediaPlayback"
        android:exported="false"
        android:enabled="true"
        android:stopWithTask="false"/>

    <service
        android:name="app.organicmaps.wear.WearMessageListenerService"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
            <data
                android:host="*"
                android:pathPrefix="/navigation"
                android:scheme="wear" />
            <data
                android:host="*"
                android:pathPrefix="/search"
                android:scheme="wear" />
            <data
                android:host="*"
                android:pathPrefix="/map"
                android:scheme="wear" />
            <data
                android:host="*"
                android:path="/ping"
                android:scheme="wear" />
            <data
                android:host="*"
                android:path="/pong"
                android:scheme="wear" />
        </intent-filter>
    </service>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${FILE_PROVIDER_PLACEHOLDER}"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths">
      </meta-data>
    </provider>

  </application>
</manifest>
