<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application>
        <service
            android:name="app.organicmaps.wear.BluetoothMessageListenerService"
            android:exported="false"
            android:stopWithTask="true" />

        <!-- Remove GMS service for OSS flavor -->
        <service
            android:name="app.organicmaps.wear.WearMessageListenerService"
            tools:node="remove" />
    </application>
</manifest>
