<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="app.organicmaps.wear.BluetoothMessageListenerService"
            android:exported="false" />

        <service
            android:name="app.organicmaps.wear.WearMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/navigation"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/search"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/preferences"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/map"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/navigation"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/search"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/map"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/preferences"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/bookmarks"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/track"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/bookmark"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/backend"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/poi"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/ping"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/pong"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>
</manifest>
